.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #e5e5e5;
  height: 10vh;
}

.footer svg {
  width: 45px;
  height: 45px;
  background-color: #f7f7f7;
  padding: 5px;
  border-radius: 50%;
}

.footer > button:nth-child(1) > svg {
  color: #f5b748 !important;
}
.footer > button:nth-child(2) > svg {
  color: #ec5e6f !important;
}
.footer > button:nth-child(3) > svg {
  color: #62b4f9 !important;
}
.footer > button:nth-child(4) > svg {
  color: #76e2b3 !important;
}
.footer > button:nth-child(5) > svg {
  color: #915dd1 !important;
}
