.header {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    padding: 10px;
    height: 10vh;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.header > img {
    width: 80px;
}
